In [26]:
import twitter
import pandas as pd

In [19]:
from __future__ import unicode_literals

In [46]:
api = twitter.Api(consumer_key="FILL",
                  consumer_secret="FILL",
                  access_token_key="FILL",
                  access_token_secret="FILL")

## Read in cleaned data

In [48]:
df = pd.read_csv("../Data/requesting_help.csv")

## Get location for all the users

In [50]:
locations = []

def get_locations(users):
    for user in users:
        twitter_handle = api.GetUser(screen_name = user)
        locations.append(twitter_handle.location)

In [52]:
# get locations of each user
get_locations(df["screen_name"])

In [53]:
df["location"] = locations

## Remove rows with no locations

In [57]:
df = df[df["location"].notnull()]

In [63]:
df = df[~(df["location"] == "")]

## Clean locations

This was an interative process. I looked through the unique values and dropped rows that were not actual locations. Also standardized location spelling.

In [65]:
df["location"] = df["location"].str.replace("LA", "Los Angeles, CA")

In [67]:
df["location"] = df["location"].str.replace("오마하 AKA Omaha", "Omaha, Ne")

In [72]:
df["location"] = df["location"].str.replace(" İstanbul ", "Istanbul, Turkey")

In [77]:
df["location"] = df["location"].str.replace("Alanna Jawja", "Atlanta, GA")

In [79]:
df["location"] = df["location"].str.replace("Alfred University", "Alfred, NY")

In [83]:
df["location"] = df["location"].str.replace("Austin, Texas 78701", "Austin, TX")

In [81]:
df["location"] = df["location"].str.replace("Delhi, The Republic of India", "Delhi, India")

In [85]:
df["location"] = df["location"].str.replace("Los Angeles, Malibu, Calabasas, Agoura,CA", "Los Angeles, CA")

In [87]:
df["location"] = df["location"].str.replace("Moscow/ Fort Lee", "Fort Lee, FL")

In [99]:
# If a user listed 2 cities, I took the first oen
df["location"] = df["location"].str.replace("Portland, ME & New York, NY", "Portland, OR")
df["location"] = df["location"].str.replace("LeMars, IA/Lincoln, NE", "LeMars, IA")
df["location"] = df["location"].str.replace("Erath, Los Angeles, CA", "Los Angeles, CA")
df["location"] = df["location"].str.replace("London, New York, Los Angeles", "London, UK")
df["location"] = df["location"].str.replace("Berlin Oudenbosch Dandridge", "Berlin, Germany")
df["location"] = df["location"].str.replace("United StatesOceana", "United States")
df["location"] = df["location"].str.replace("DENHAM SPRINGS Louisiana", "Denham Springs, LA")

In [101]:
# Drop miscellaneous rows
df = df[~(df["location"] == "225")]
df = df[~(df["location"] == "Arie Land")]
df = df[~(df["location"] == "At sea")]
df = df[~(df["location"] == "BOOKING: 786-220-1688")]
df = df[~(df["location"] == "Earth, Local, Virtual, Matrix")]
df = df[~(df["location"] == "EricCiaramella")]
df = df[~(df["location"] == "Neptunia Sur, Planeptune ")]
df = df[~(df["location"] == "NorCal ")]
df = df[~(df["location"] == "North America")]
df = df[~(df["location"] == "Planet Earth")]
df = df[~(df["location"] == "North America")]
df = df[~(df["location"] == "Where Florida Man Lives")]
df = df[~(df["location"] == "Worldwide")]
df = df[~(df["location"] == "the Swamp")]

In [89]:
df = df[~(df["location"] == "Humanity")]

In [102]:
#
set(df["location"])

{'Alexandria, VA',
 'Alfred, NY',
 'Atlanta, GA',
 'Austin, TX',
 'Beatrice, NE',
 'Belleville, NJ',
 'Berlin, Germany',
 'California, USA',
 'Canada',
 'Carroll, IA',
 'Corpus Christi, TX',
 'Delhi, India',
 'Denham Springs, LA',
 'Devon UK',
 'Durham, NC',
 'Florida, USA',
 'Fort Collins, CO',
 'Fort Lee, FL',
 'Fremont, NE',
 'Gothenburg, NE',
 'Grand Island, Nebraska',
 'Hong Kong',
 'Istanbul, Turkey',
 'Jupiter, FL',
 'Lafayette, Los Angeles, CA',
 'LeMars, IA',
 'London, UK',
 'Los Angeles',
 'Los Angeles, CA',
 'Los Angeles, CA ',
 'Louisiana, USA',
 'Miami, FL',
 'Nebraska, USA',
 'New York, NY',
 'Nova Scotia, Canada',
 'Ohio',
 'Omaha, Ne',
 'Omaha, Ne ',
 'Orlando, FL',
 'Paradise, CA',
 'Pittsburgh, PA',
 'Portland, OR',
 'Sacramento, CA',
 'San Francisco, CA',
 'Santa Maria, CA',
 'Santa Rosa, CA',
 'Seattle, Memphis',
 'Staten Island, NY',
 'Toronto, Ontario, Canada',
 'United Kingdom',
 'United States',
 'Warner Robins, GA',
 'Washington DC',
 'West Sonoma Coast, CA'}

## Write to CSV

In [103]:
df.to_csv("../Data/requesting_help.csv", index = False)